@import "base";
@import "fonts";

body {
	background: #000000;
	height: 100%;
	width: 100%;
	font-family: Monument Grotesk;
	font-weight: 400;
	max-width: 1920px;
	margin: auto;
}
html {
	height: 100%;
}
.spacer {
	display: inline;
}

.m-auto {
	margin: auto;
}

.hide-force {
	display: none !important;
}

.home-wrapper,
.echo-system,
.home2 {
	max-width: 1650px;
	width: 85%;
}

.deus-logo {
	max-width: 100%;
	margin-bottom: 10px;
	margin-left: 5px;
}

.home-wrapper {
	padding-top: 20vh;
	padding-bottom: 26vh;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}
.channel-wrap {
	font-weight: 300;
	position: absolute;
	padding: 20px 5px;
	top: 10px;
	right: 5px;
	z-index: 2;
	max-height: 600px;
	// margin-bottom: -70px;
	font-size: 13.5px;
	max-width: 500px;
	// width: 100%;
	float: right;
	background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #edf6ff;
	border: 1px solid #cfcfcf;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;

	.join-channel {
		margin: auto;
		width: 85%;
		height: 35px;
		border-radius: 6px;
		border: 1px solid #000000;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		cursor: pointer;
		color: #000000;
		&:hover {
			opacity: 0.8;
		}
	}
	.close-btn {
		position: absolute;
		cursor: pointer;
		top: 7px;
		right: 8px;
		width: 12px;
		height: 12px;
	}
	.channel-name {
		font-size: 16px;
		margin: 5px 0;
	}
	.content {
		opacity: 0.8;
	}
}

.hide-on-mobile {
	display: none;
}
.next-gen {
	font-weight: 300;
	a {
		//learn more link pattern
		background: linear-gradient(90deg, #1dd3bd, #16b5ca 80%);
		background: -webkit-linear-gradient(45deg, #1dd3bd, #16b5ca 80%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}
}

.learn-wiki {
	font-weight: 300;
}

.home-content {
	margin-left: 10px;
	text-align: left;
	padding: 0 20px;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1700px;

	.deus-dea-logo {
		margin-bottom: 0px;
	}

	.hide-on-desktop {
		display: none;
	}

	.gif-wrapper {
		display: block;
		margin-right: 8vw;
		margin-bottom: -80px;
		.gif {
			border-radius: 50%;
		}
	}

	.asset {
		display: block;
		color: #ffffff;
		max-width: 600px;
		.tokenization {
			font-family: Edu Monument Grotesk Semi-Mono;
			font-weight: 400;
			text-transform: uppercase;
			margin-top: 10px;
			font-size: 25px;
			line-height: 40px;
		}

		.trasnpose {
			margin-top: 5px;
			font-size: 20px;
			font-weight: 300;
			line-height: 25px;
			max-width: 550px;
		}
	}

	.gif {
		width: 300px;
		height: 300px;
	}
}

.btns-wrap {
	margin-left: 30px;
	margin-top: 40px;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	a {
		// flex-grow: 1;
		// max-width: 304px;
	}

	.work-btn-wrap {
		width: 250px;
		margin-top: 0;
	}
	.buy-tokens {
		margin-right: 10px;
		width: 250px;
		height: 55px;
		border-radius: 10px;
		padding: 2px;
		border: 1px solid #585858;
		color: #ffffff;
		font-family: Edu Monument Grotesk Semi-Mono;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
		background: linear-gradient(98.22deg, #e45b5b 17.84%, #5e5be4 93.95%);
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			filter: brightness(1.3);
		}
	}
}

.home2 {
	// max-width: 1500px;
	margin: auto;
	color: #ffffff;
	margin-top: 150px;
	// padding: 0 20px;

	.mid-title {
		font-family: Edu Monument Grotesk Semi-Mono;
		font-size: 35px;
		margin: auto;
		text-align: center;
		margin-bottom: 150px;
		margin-top: 100px;
	}
	.wrap-assets {
		width: 100%;
		max-width: 590px;

		.title {
			font-family: Edu Monument Grotesk Semi-Mono;

			font-weight: 400;
			font-size: 25px;
		}
		.desc {
			font-weight: 300;
			font-size: 20px;
		}
	}

	.tokens-info-wrap {
		margin-bottom: 120px;
		margin-top: -20px;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.mx-12 {
			margin: 0 20px;
			margin-top: 20px;
		}
		.token-wrap {
			padding: 10px 0;
			max-width: 765px;
			flex-grow: 1;
			// width: 100%;
			// max-width: 500px;

			.m-25-0 {
				margin-right: 0px;
				margin-left: 25px;
			}
		}
		// .token-info:nth-child(1) {
		// 	margin-right: 25px;
		// }

		.token-info {
			background: #111111;
			border: 1px solid #272727;
			box-sizing: border-box;
			box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			// width: 100%;
			margin: auto;
			padding: 28px 35px;
			height: 100%;

			.hr-break {
				background: #242424;
				height: 2px;
				margin: 20px 0;
			}
			.left {
				width: 100%;
				// max-width: 470px;
				.title {
					display: flex;
					justify-content: left;
					align-items: center;
					font-weight: 400;
					font-size: 25px;
					svg {
						margin-right: 10px;
					}
				}
				.info {
					font-weight: 300;
					// margin-top: 10px;
					.learn-wiki {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						font-size: 17px !important;
						margin-top: 20px;
						p:nth-child(1) {
							margin-right: 5px;
						}
					}
				}
			}
			.right {
				width: 100%;
				max-width: 450px;
				padding: 20px 20px;
				background: #111111;
				border: 1px solid #232323;
				box-sizing: border-box;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
				border-radius: 6px;
				margin-left: 20px;
				.top {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid rgba(255, 255, 255, 0.5);
					padding-bottom: 20px;

					.token-price {
						.tk-name {
							font-size: 15px;
						}
						.dif-price {
							margin-top: 5px;
							display: flex;
							justify-content: center;
							align-items: center;
							.price {
								font-size: 20px;
							}
							.diff {
								color: #d50000;
								font-size: 15px;
								margin-left: 10px;
							}
						}
					}
					.buy-btn {
						width: 100px;
						height: 35px;
						background: linear-gradient(90deg, #0779e4 -0.01%, #1dd3bd 93.42%);
						border-radius: 6px;
						font-size: 15px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-family: Monument Grotesk;
						font-weight: 400;
						cursor: pointer;
						&:hover {
							filter: brightness(1.1);
						}
					}
				}
				.bottom {
					margin-top: 25px;
					.item {
						padding: 2.5px 0;
						.title-market {
							color: #d3d3d3;
						}
					}
				}
			}
		}
	}

	.sync-work-wrap {
		div,
		p,
		img {
			// border: 1px solid red;
		}
		font-weight: 300;
		margin: auto;
		text-align: center;
		margin-top: 150px;
		margin-bottom: 60px;
		display: flex;
		position: relative;
		align-items: center;

		.spinner-wrap {
			position: relative;
			.spinner {
				background: #d9ebff;
				height: 3px;
				width: 100px;
				border-radius: 6px;
				margin-bottom: 250px;
			}
		}
		.sync-item {
			.spinner {
				display: none;
			}

			flex-grow: 1;
			// max-width: 300px;
			width: 100%;
			// width: 400px;
			height: 400px;
			font-weight: 400;

			p {
				text-align: center;
				margin: auto;
				margin-top: 40px;
				font-size: 17.5px;
				font-weight: 300;
				max-width: 90%;
			}

			.spinner {
				background: #d9ebff;
				height: 3px;
				width: 150px;
				border-radius: 6px;
				// margin: 0 auto;
			}

			.left-sp {
				left: -30px;
			}
			.right-sp {
				right: -30px;
			}

			.cycle-wrapper-man {
				// width:50%;
				height: 247px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				// margin: auto;
				// border: yellow 1px solid;

				.l-arrow {
					display: flex;
					align-items: center;
					justify-content: space-between;
					// position: relative;
					right: 15px;

					img {
						position: relative;
						right: 13px;
						// bottom: 1px;
					}
				}
				//arrow
				.r-arrow {
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;
					right: -15px;

					img {
						position: relative;
						right: 13px;
						// bottom: 1px;
					}
				}

				.spinner {
					display: block;
				}
				img {
					max-height: 55px;
				}
				// margin-bottom: 100px;
			}

			.cycle-wrapper {
				font-size: 30px;
				color: #000;
				width: 247px;
				height: 247px;
				margin: auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background-color: #fff;
				border-radius: 50%;
				font-size: 30px;
				line-height: 25px;
			}

			.tesla-container {
				height: 50%;
			}

			.tesla-shadow {
				box-shadow: 0 0 10px #aaa, inset 0 0 25px #888, inset 0 0 40px #fff;
			}

			.dtsla-shadow {
				// background: linear-gradient(220deg, #addbff 5%, #777dfa 90%);
				// box-shadow: 0 0 39px #aaa, inset 10px 10px 4px #d9ebff, inset 30px 30px 14px #9fa4fe;

				background: linear-gradient(270deg, #addbff 15%, #777dfa 67%);
				// background-image: linear-gradient(45deg, #addbff 15%, #777dfa 67%);
				box-shadow: 0 0 39px #aaa, inset 10px 10px 4px #d9ebff, inset 30px 30px 14px #9fa4fe;
				color: #fff;
			}
		}
	}
	.spacer {
		display: inline-block;
	}
}
.tokens-info {
	.token-info {
		background: #111111;
		border: 1px solid #272727;
		box-sizing: border-box;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}
}

.team-wrap {
	max-width: 1500px;
	width: 100%;
	padding: 0 20px;
	margin: auto;

	.members {
		// text-align: center;
		margin-left: -30px;
		margin-top: 100px;
		.member {
			display: inline-block;
			margin: 15px 30px;
			text-align: left;
			.photo {
				overflow: hidden;
				background: #111111;
				border: 2px solid #272727;
				box-sizing: border-box;
				border-radius: 6px;
				width: 225px;
				height: 225px;
				img {
					filter: grayscale(100%);
					border-radius: 4px;

					width: 100%;
					height: 100%;
				}
			}
			.info {
				margin-top: 20px;
				font-size: 15px;
				color: #ffffff;
				.role {
					margin-top: 5px;
					opacity: 0.5;
					font-weight: 300;
				}
			}
		}
	}
}
.deus-echo {
	color: #ffffff;
	margin-top: 130px;
	width: 100%;
	max-width: 500px;
	position: relative;
	.title {
		font-family: Edu Monument Grotesk Semi-Mono;
		font-weight: 400;
		font-size: 25px;
	}
	.description {
		font-weight: 300;
		font-size: 20px;
	}
}
.learn-wiki {
	color: #0981e0;
	margin-top: 20px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: left;
	p {
		margin: 0 2.5px;
	}
}
.work-btn-wrap {
	font-family: Edu Monument Grotesk Semi-Mono;
	max-width: 250px;
	height: 55px;
	border-radius: 7px;
	font-size: 20px;
	padding: 2px;
	color: #ffffff;
	background: linear-gradient(90deg, #0779e4 -0.01%, #1dd3bd 93.42%);
	box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.498039);
	border-radius: 10px;
	margin-top: 60px;
	cursor: pointer;
	text-align: center;
	align-items: center;
	.work-btn {
		// margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-transform: uppercase;
		height: 100%;
		border-radius: 7px;
		transition: all 0.25s;
		color: #ffffff;
		&:hover {
			opacity: 0.8;
		}
	}
}

.break-line {
	border-width: 2px;
	border-color: #242424;
	margin: 30px 0;
}
.grad1 {
	background: linear-gradient(to right, #7499e4 0%, #9e52b5 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.echo-system {
	position: relative;
	// width: 75%;
	// max-width: 1500px;
	// padding: 0 20px;
	padding-left: 5%;
	margin: auto;
	margin-bottom: 80px;
	text-align: center;
	br {
		display: none;
	}
	img {
		width: 100%;
	}
	.mobile {
		margin: auto;
		max-width: 400px;
		display: none;
	}
}

.why-wrap {
	max-width: 95%;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 2px solid #242424;
	color: rgb(255, 255, 255); //text color white.
	margin: auto;
	font-size: 20px;
	font-weight: 300;
	padding: 30px 0;
	// line-height: 28px;
	.item {
		flex: 1;
		margin: auto;
		height: 100%;
		justify-content: center;
	}
	.item:nth-child(1) {
		// width: 100%;
		// height: 100%;
		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 75vh;
		}
	}
	.item:nth-child(2) {
		width: 100%;
		padding: 0 20px;
		.why-about-deus {
			margin: auto;
			width: 100%;
			max-width: 560px;

			p {
				font-family: Edu Monument Grotesk Semi-Mono;
				font-size: 25px;
			}
		}
	}
}

@media screen and (max-width: 1450px) {
	.home2 .sync-work-wrap {
		max-width: 960px;
		margin-bottom: 100px;
		.sync-item {
			height: 300px;
			.cycle-wrapper-man {
				height: 200px;
				height: 200px;
				img {
					position: relative;
					right: 0;
				}
			}

			.cycle-wrapper {
				width: 200px;
				height: 200px;
				font-size: 25px;
			}
			p {
				font-size: 15px;
			}
			.spinner {
				background: #d9ebff;
				height: 3px;
				width: 100px;
				border-radius: 6px;
				margin: 0px -100px;
			}
			.cycle-wrapper-man {
				.l-arrow {
					position: relative;
					left: 80px;
					img {
						position: relative;
						left: 3px;
					}
				}
				.r-arrow {
					img {
						position: relative;
						right: -3px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1260px) {
	.home-wrapper {
		padding-top: 14vh;
		padding-bottom: 16vh;
	}
	.home-content .gif-wrapper {
		text-align: center;
		display: block;
		margin-right: 0;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1150px) {
	.team-wrap .members {
		text-align: center;
		margin-left: 0;
	}
	.why-wrap {
		.item {
			width: 95%;

			max-width: 600px;
			flex: none;
		}
		.item:nth-child(1) img {
			height: unset;
			object-fit: unset;
			object-position: unset;
		}
		.item:nth-child(2) {
			margin-top: 28px;
		}
	}
	.home-wrapper {
		padding-top: 20vh;
	}
	.hide-on-mobile {
		display: none;
	}
	.home-content {
		.hide-on-desktop {
			margin-top: 50px;
			display: flex;
		}
		.asset {
			.trasnpose {
				font-size: 18px;
			}
			.tokenization {
				font-size: 40px;
			}
		}
		.gif {
			margin-top: 50px;
			width: 250px;
			height: 250px;
		}
	}
	.side-image {
		max-width: 300px;
	}
	.channel-wrap {
		position: fixed;
		bottom: 50px;
		top: unset;
		z-index: 10;
	}

	.home2 {
		.sync-work-wrap {
			.sync-item {
				.spinner {
					position: relative;
					left: 0px;
					margin: unset;
				}
				.cycle-wrapper-man {
					// max-width: 300px;
					.l-arrow {
						position: relative;
						left: 0px;
						// right:20px;
						img {
							position: relative;
							left: -12px;
						}
					}
					.r-arrow {
						position: relative;
						// right: 10px;
						img {
							position: relative;
							left: -12px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 960px) {
	.home-content {
		.gif-wrapper {
			text-align: center;
			width: 100%;
			margin-right: 0;
		}
	}
	.btns-wrap {
		text-align: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;

		.buy-tokens {
			height: 50px;
			font-size: 17px;
		}
	}
	.work-btn-wrap {
		font-size: 17px;
		height: 50px;
	}
	.home2 .sync-work-wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		max-width: 500px;
		width: 100%;
		margin-bottom: unset;
		margin-top: 60px;

		.sync-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 290px;
			margin: 40px 0;
			.cycle-wrapper-man,
			.cycle-wrapper {
				width: 200px;
				height: 200px;
				font-size: 25px;
			}

			.cycle-wrapper-man {
				flex-direction: column;
				width: unset;
				height: unset;

				img {
					margin-bottom: -10px;
				}

				.spinner {
					display: none;
				}

				.l-arrow {
					img {
						position: relative;
						left: 253px;
						top: -5px;
					}
				}

				.r-arrow {
					img {
						top: 9.5px;
						left: -60px;
					}
				}
			}
			p {
				max-width: 350px;
				width: 100%;
				justify-content: center;
				font-size: 15px;
				text-align: center;
			}
			p.our-pioneeringg {
				background-color: #1dd3bd;
				position: relative;
				top: 20px;
				margin: 0 200px;
				margin-top: 50px;
			}

			.spinner {
				display: block;
				transform: rotate(90deg);
				background: #d9ebff;
				height: 3px;
				width: 100px;
				border-radius: 6px;
				// margin: -60px 0;
			}

			.left-sp {
				position: relative;
				left: 0;
				top: -100px;
			}

			.right-sp {
				position: relative;
				left: 0;
				// top: 85px;
			}
			.r-arrow {
				transform: rotate(90deg);
				top: -70px;
			}
			.l-arrow {
				transform: rotate(90deg);
				top: 70px;
			}
		}

		.div-man {
			position: relative;
			top: 45px;
		}

		.sync-item:nth-child(2) {
			margin: 100px 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.channel-wrap {
		margin-bottom: -25px;
		max-height: 400px;
	}
	.home2 .tokens-info-wrap .token-info:nth-child(1) {
		margin-right: 0;
		margin: 20px 0;
	}
	.home2 .mid-title {
		font-size: 25px;
	}
	.home2 .wrap-assets {
		.title {
			font-weight: 400;
			font-size: 20px;
		}
		.desc {
			font-size: 17.5px;
		}
	}
	.home-wrapper {
		margin: auto;
		padding: 70px 10px;
		// min-height: 100%;
	}

	.btns-wrap {
		width: 100%;
		margin-top: 50px;
		.buy-tokens {
			font-size: 15px;
			margin-right: 15px;
			height: 45px;
		}
		.work-btn-wrap {
			height: 45px;
			font-size: 14px;
		}
	}
	.home-content {
		flex-direction: column;

		.hide-on-desktop {
			display: flex;
		}
	}

	.home-content {
		padding-right: 10px;
		padding: 0;
		.work-btn-wrap {
			float: unset;
			margin: 50px auto;
			font-size: 20px;
			width: 50%;
			max-width: 335px;
			height: 55px;
		}

		.asset {
			.tokenization {
				font-size: 25px;
				font-weight: 400;
				line-height: 28px;
			}

			.trasnpose {
				// margin-top: 30px;
				font-size: 18px;
				font-weight: 300;
				line-height: 19px;
				width: 90%;
			}
		}

		.description {
			white-space: pre-line;
			width: 100%;
			margin-top: 70px;
			font-size: 14px;
			line-height: 14px;
		}
	}

	.echo-system {
		.mobile {
			padding-left: 0;
			margin: auto;
			margin-top: 80px;
			display: block;
		}
		.desktop {
			display: none;
		}
	}
}

@media screen and (max-width: 480px) {
	.home-wrapper,
	.echo-system,
	.home2 {
		width: 90%;
	}

	nav {
		padding: 0;
		padding-right: 16px;
		padding-left: 16px;
	}
	.channel-wrap {
		text-align: center;
		float: none;
		width: 90%;
		margin: auto;
		margin-top: 25px;
	}
}

@media screen and (max-width: 320px) {
}
