@import "base";
@import "fonts";

body {
	background: #000000;
	height: 100%;
	width: 100%;
	font-family: Monument Grotesk;
	font-weight: 400;
	max-width: 1920px;
	margin: auto;
}
html {
	height: 100%;
}
.grad-color-1 {
	display: inline-block;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 150%;
	background: #0096e8;
	background: -webkit-linear-gradient(to right, #0096e8 0%, #ff0000 100%);
	background: -moz-linear-gradient(to right, #0096e8 0%, #ff0000 100%);
	background: linear-gradient(to right, #0096e8 0%, #ff0000 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 5px 0;
	opacity: 0.85;
}

.supported-chains {
	max-width: 900px;
	margin: auto;
	margin-top: 150px;
	.right {
		float: right;
	}
	.wrap-chains {
		background: linear-gradient(98.22deg, #e45b5b 17.84%, #5e5be4 93.95%);
		border-radius: 50px;
		padding: 5px;
		.container {
			border-radius: 200px;
			background: #000000;
			padding: 8px;
			height: 100%;
			list-style-type: none;
			display: flex;
			align-items: center;
			justify-content: center;
			li {
				margin: 0 32px;
				img {
					vertical-align: middle;
					width: 60px;
					// height: 40px;
					border-radius: 50%;
				}
			}
		}
	}
}

.roadmap-warp {
	width: 100%;
	margin-bottom: 150px;
	.roadmap-img-desktop {
		max-width: 100%;
	}
	.roadmap-img-mobile {
		max-width: 100%;
		display: none;
	}
}

.echosystem-warp {
	width: 100%;

	.echosystem-img {
		max-width: 100%;
	}
}

.home-wrapper,
.echo-system,
.home2 {
	max-width: 1650px;
	width: 85%;
}

.deus-logo {
	max-width: 100%;
	margin-bottom: 10px;
	margin-left: 5px;
}

.home-wrapper {
	padding-top: 20vh;
	padding-bottom: 15vh;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}

.next-gen {
	font-weight: 300;
	a {
		//learn more link pattern
		background: linear-gradient(90deg, #1dd3bd, #16b5ca 80%);
		background: -webkit-linear-gradient(45deg, #1dd3bd, #16b5ca 80%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}
}

.learn-wiki {
	font-weight: 300;
}

.home-content {
	margin-left: 10px;
	text-align: left;
	padding: 0 20px;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1700px;

	.deus-dea-logo {
		margin-bottom: 0px;
		margin-right: 20px;
		margin-top: -10px;
	}

	.hide-on-desktop {
		display: none;
	}

	.gif-wrapper {
		display: block;
		margin-right: 8vw;
		margin-bottom: -80px;
		.gif {
			border-radius: 50%;
		}
	}

	.asset {
		display: block;
		color: #ffffff;
		max-width: 600px;
		.tokenization {
			font-family: Edu Monument Grotesk Semi-Mono;
			font-weight: 400;
			text-transform: uppercase;
			margin-top: 10px;
			font-size: 25px;
			line-height: 45px;
		}
	}

	.gif {
		width: 300px;
		height: 300px;
	}
}

.btns-wrap {
	margin-left: 30px;
	margin-top: 40px;
	display: flex;
	justify-content: flex-start;
	width: 100%;

	.work-btn-wrap {
		width: 250px;
		margin-top: 0;
		&:hover {
			filter: brightness(1.15);
		}
	}
	.buy-tokens {
		margin-right: 10px;
		width: 250px;
		height: 55px;
		border-radius: 10px;
		padding: 2px;
		border: 1px solid #585858;
		color: #ffffff;
		font-family: Edu Monument Grotesk Semi-Mono;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
		background: linear-gradient(98.22deg, #e45b5b 17.84%, #5e5be4 93.95%);
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			filter: brightness(1.2);
		}
	}
}

.home2 {
	// max-width: 1500px;
	margin: auto;
	color: #ffffff;
	// margin-top: 150px;
	margin-top: 70px;
	// padding: 0 20px;

	.mid-title {
		font-family: Edu Monument Grotesk Semi-Mono;
		font-size: 35px;
		margin: auto;
		text-align: center;
		margin-bottom: 100px;
		margin-top: 50px;
	}
	.wrap-assets {
		width: 100%;
		max-width: 590px;

		.title {
			font-family: Edu Monument Grotesk Semi-Mono;

			font-weight: 400;
			font-size: 25px;
		}
		.desc {
			font-weight: 300;
			font-size: 20px;
		}
	}

	.tokens-info-wrap {
		margin-bottom: 120px;
		margin-top: -20px;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.mx-12 {
			margin: 0 20px;
			margin-top: 20px;
		}
		.token-wrap {
			padding: 10px 0;
			max-width: 765px;
			flex-grow: 1;
			// width: 100%;
			// max-width: 500px;

			.m-25-0 {
				margin-right: 0px;
				margin-left: 25px;
			}
		}
		// .token-info:nth-child(1) {
		// 	margin-right: 25px;
		// }

		.token-info {
			background: #111111;
			border: 1px solid #272727;
			box-sizing: border-box;
			box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			// width: 100%;
			margin: auto;
			padding: 28px 35px;
			height: 100%;

			.hr-break {
				background: #242424;
				height: 2px;
				margin: 20px 0;
			}
			.left {
				width: 100%;
				// max-width: 470px;
				.title {
					display: flex;
					justify-content: left;
					align-items: center;
					font-weight: 400;
					font-size: 25px;
					svg {
						margin-right: 10px;
					}
				}
				.info {
					font-weight: 300;
					// margin-top: 10px;
					.learn-wiki {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						font-size: 17px !important;
						margin-top: 20px;
						p:nth-child(1) {
							margin-right: 5px;
						}
					}
				}
			}
			.right {
				width: 100%;
				max-width: 450px;
				padding: 20px 20px;
				background: #111111;
				border: 1px solid #232323;
				box-sizing: border-box;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
				border-radius: 6px;
				margin-left: 20px;
				.top {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid rgba(255, 255, 255, 0.5);
					padding-bottom: 20px;

					.token-price {
						.tk-name {
							font-size: 15px;
						}
						.dif-price {
							margin-top: 5px;
							display: flex;
							justify-content: center;
							align-items: center;
							.price {
								font-size: 20px;
							}
							.diff {
								color: #d50000;
								font-size: 15px;
								margin-left: 10px;
							}
						}
					}
					.buy-btn {
						width: 100px;
						height: 35px;
						background: linear-gradient(90deg, #0779e4 -0.01%, #1dd3bd 93.42%);
						border-radius: 6px;
						font-size: 15px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-family: Monument Grotesk;
						font-weight: 400;
						cursor: pointer;
						&:hover {
							filter: brightness(1.1);
						}
					}
				}
				.bottom {
					margin-top: 25px;
					.item {
						padding: 2.5px 0;
						.title-market {
							color: #d3d3d3;
						}
					}
				}
			}
		}
	}
}
.tokens-info {
	.token-info {
		background: #111111;
		border: 1px solid #272727;
		box-sizing: border-box;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}
}

.team-wrap {
	max-width: 1500px;
	width: 100%;
	padding: 0 20px;
	margin: auto;

	.members {
		// text-align: center;
		margin-left: -30px;
		margin-top: 100px;
		.member {
			display: inline-block;
			margin: 15px 30px;
			text-align: left;
			.photo {
				overflow: hidden;
				background: #111111;
				border: 2px solid #272727;
				box-sizing: border-box;
				border-radius: 6px;
				width: 225px;
				height: 225px;
				img {
					filter: grayscale(100%);
					border-radius: 4px;

					width: 100%;
					height: 100%;
				}
			}
			.info {
				margin-top: 20px;
				font-size: 15px;
				color: #ffffff;
				.role {
					margin-top: 5px;
					opacity: 0.5;
					font-weight: 300;
				}
			}
		}
	}
}

.deus-echo {
	color: #ffffff;
	margin-top: 130px;
	width: 100%;
	max-width: 500px;
	position: relative;
	.title {
		font-family: Edu Monument Grotesk Semi-Mono;
		font-weight: 400;
		font-size: 25px;
	}
	.description {
		font-weight: 300;
		font-size: 20px;
	}
}
.learn-wiki {
	color: #0981e0;
	margin-top: 20px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: left;
	p {
		margin: 0 2.5px;
	}
}
.work-btn-wrap {
	font-family: Edu Monument Grotesk Semi-Mono;
	max-width: 250px;
	height: 55px;
	border-radius: 7px;
	font-size: 20px;
	padding: 2px;
	color: #ffffff;
	background: linear-gradient(90deg, #0779e4 -0.01%, #1dd3bd 93.42%);
	box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.498039);
	border-radius: 10px;
	margin-top: 60px;
	cursor: pointer;
	text-align: center;
	align-items: center;
	.work-btn {
		// margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-transform: uppercase;
		height: 100%;
		border-radius: 7px;
		transition: all 0.25s;
		color: #ffffff;
	}
}

.break-line {
	border-width: 2px;
	border-color: #242424;
	margin: 30px 0;
}
.grad1 {
	background: linear-gradient(to right, #7499e4 0%, #9e52b5 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.echo-system {
	position: relative;
	// width: 75%;
	// max-width: 1500px;
	// padding: 0 20px;
	padding-left: 5%;
	margin: auto;
	margin-bottom: 80px;
	text-align: center;
	br {
		display: none;
	}
	img {
		width: 100%;
	}
	.mobile {
		margin: auto;
		max-width: 400px;
		display: none;
	}
}

@media screen and (max-width: 1450px) {
}

@media screen and (max-width: 1260px) {
	.home-wrapper {
		padding-top: 14vh;
		padding-bottom: 16vh;
	}
	.home-content .gif-wrapper {
		text-align: center;
		display: block;
		margin-right: 0;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1150px) {
	.team-wrap .members {
		text-align: center;
		margin-left: 0;
	}

	.home-wrapper {
		padding-top: 20vh;
	}
	.hide-on-mobile {
		display: none;
	}
	.home-content {
		.hide-on-desktop {
			margin-top: 50px;
			display: flex;
		}
		.asset {
			.trasnpose {
				font-size: 18px;
			}
			.tokenization {
				font-size: 40px;
			}
		}
		.gif {
			margin-top: 50px;
			width: 250px;
			height: 250px;
		}
	}
	.side-image {
		max-width: 300px;
	}
	.channel-wrap {
		position: fixed;
		bottom: 50px;
		top: unset;
		z-index: 10;
	}
}

@media screen and (max-width: 960px) {
	.home-content {
		.gif-wrapper {
			text-align: center;
			width: 100%;
			margin-right: 0;
		}
	}
	.btns-wrap {
		text-align: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;

		.buy-tokens {
			height: 50px;
			font-size: 17px;
		}
	}
	.work-btn-wrap {
		font-size: 17px;
		height: 50px;
	}

	.grad-color-1 {
		font-size: 120%;
	}

	.supported-chains {
		max-width: 100%;
		margin: auto;
		margin-top: 100px;
		.right {
			float: right;
		}
		.wrap-chains {
			background: linear-gradient(98.22deg, #e45b5b 17.84%, #5e5be4 93.95%);
			border-radius: 50px;
			padding: 5px;
			.container {
				border-radius: 200px;
				background: #000000;
				padding: 8px;
				height: 100%;
				list-style-type: none;
				display: flex;
				align-items: center;
				justify-content: center;
				li {
					margin: 0 18px;
					img {
						vertical-align: middle;
						width: 55px;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.channel-wrap {
		margin-bottom: -25px;
		max-height: 400px;
	}
	.home2 .tokens-info-wrap .token-info:nth-child(1) {
		margin-right: 0;
		margin: 20px 0;
	}
	.home2 .mid-title {
		font-size: 25px;
	}
	.home2 .wrap-assets {
		.title {
			font-weight: 400;
			font-size: 20px;
		}
		.desc {
			font-size: 17.5px;
		}
	}
	.home-wrapper {
		margin: auto;
		padding: 70px 10px;
		// min-height: 100%;
	}

	.btns-wrap {
		width: 100%;
		margin-top: 50px;
		.buy-tokens {
			font-size: 15px;
			margin-right: 15px;
			height: 45px;
		}
		.work-btn-wrap {
			height: 45px;
			font-size: 14px;
		}
	}
	.home-content {
		flex-direction: column;

		.hide-on-desktop {
			display: flex;
		}
	}

	.home-content {
		padding-right: 10px;
		padding: 0;
		.work-btn-wrap {
			float: unset;
			margin: 50px auto;
			font-size: 20px;
			width: 50%;
			max-width: 335px;
			height: 55px;
		}

		.asset {
			.tokenization {
				font-size: 25px;
				font-weight: 400;
				line-height: 28px;
			}

			.trasnpose {
				// margin-top: 30px;
				font-size: 18px;
				font-weight: 300;
				line-height: 19px;
				width: 90%;
			}
		}

		.description {
			white-space: pre-line;
			width: 100%;
			margin-top: 70px;
			font-size: 14px;
			line-height: 14px;
		}
	}

	.echo-system {
		.mobile {
			padding-left: 0;
			margin: auto;
			margin-top: 80px;
			display: block;
		}
		.desktop {
			display: none;
		}
	}

	.supported-chains {
		max-width: 105%;
		margin: auto;
		margin-top: 80px;
		.right {
			float: right;
		}
		.wrap-chains {
			background: linear-gradient(98.22deg, #e45b5b 17.84%, #5e5be4 93.95%);
			border-radius: 50px;
			padding: 5px;
			.container {
				border-radius: 200px;
				background: #000000;
				padding: 8px;
				height: 100%;
				list-style-type: none;
				display: flex;
				align-items: center;
				justify-content: center;
				li {
					margin: 0 10px;
					img {
						vertical-align: middle;
						width: 38px;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.home-wrapper,
	.echo-system,
	.home2 {
		width: 90%;
	}
	nav {
		padding: 0;
		padding-right: 16px;
		padding-left: 16px;
	}

	.roadmap-warp {
		.roadmap-img-desktop {
			max-width: 100%;
			display: none;
		}
		.roadmap-img-mobile {
			max-width: 100%;
			display: block;
		}
	}
	.deus-logo {
		max-width: 80%;
		margin-bottom: 10px;
		margin-left: 5px;
	}
	.deus-logo-2 {
		max-width: 65%;
		margin-bottom: 10px;
		margin-left: 5px;
	}
	.deus-dea-logo {
		margin-right: 0 !important;
		height: 55px;
	}

	.supported-chains {
		max-width: 105%;
		margin: auto;
		margin-top: 55px;
		.right {
			float: right;
		}
		.wrap-chains {
			background: linear-gradient(98.22deg, #e45b5b 17.84%, #5e5be4 93.95%);
			border-radius: 50px;
			padding: 5px;
			.container {
				border-radius: 200px;
				background: #000000;
				padding: 8px;
				height: 100%;
				list-style-type: none;
				display: flex;
				align-items: center;
				justify-content: center;
				li {
					margin: 0 6px;
					img {
						vertical-align: middle;
						width: 34px;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 360px) {
	.supported-chains {
		max-width: 105%;
		margin: auto;
		margin-top: 55px;
		.right {
			float: right;
		}
		.wrap-chains {
			background: linear-gradient(98.22deg, #e45b5b 17.84%, #5e5be4 93.95%);
			border-radius: 50px;
			padding: 5px;
			.container {
				border-radius: 200px;
				background: #000000;
				padding: 8px;
				height: 100%;
				list-style-type: none;
				display: flex;
				align-items: center;
				justify-content: center;
				li {
					margin: 0 4px;
					img {
						vertical-align: middle;
						width: 30px;
						border-radius: 50%;
					}
				}
			}
		}
	}
}
